@media only screen and (max-width: 949px) and (min-width: 762px){

    article.alternate:nth-child(odd) div{
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        }
        article.alternate:nth-child(odd) img, article.alternate:nth-child(odd) picture{
            grid-column: 2;
            grid-row: 1;
            justify-self: end;
        }
        article.alternate:nth-child(even) div{
            grid-column: 2;
            grid-row: 1;
            justify-self: start;
        }
        article.alternate:nth-child(even) img, article.alternate:nth-child(even) picture{
            grid-column: 1;
            grid-row: 1;
            justify-self: start;
        }
        
        article.amenities:nth-child(odd) div{
            justify-self: start;
        }
        article.alternate div.confirmationDiv{
            grid-column: span 2;
        }
        form{max-width: 600px;}
        
        article.contactMap {
            max-width: 700px;
        }
        section.weathersummary h3 {
            grid-row: 1;
        }
        section.weathersummary div.weatherdetails{
            display: grid;
            grid-row: 2;
        }
}