body {
    font-size: 15px; 
    font-family: 'Josefin Sans', sans-serif;
    color: #F4976C;
    background-color: #D2FDFF;
}

header {
    background-color: #B4DFE5;
    width: 800px;
    text-align: center;
    margin: 0;
}

header img {

    display: inline-block;
    padding-top: 15px;

}

header section{

    display: inline-block;
    padding: 20px 40px ;

}

header section p {

    font-style: italic;
}

h1{
    font-size: 3.5em;
    margin: 0;
    text-shadow: 2px 2px 1px white;
}

