

@media only screen and (max-width: 779px) {
    body{min-width: 432px;}
    header img {display: block; clear: both; float: center; margin: auto;}
    nav li {display: block; float: none; height: 0em;}
    nav li:first-child{ display: block; height: 3em;}
    section.forecast {display: none;}
    article p {display: block; width: auto; }
    article img{display: block; float: none; margin: auto;}
    .contactImg {display:none;}
    .contact {display: block; margin: auto;}
    .map {display: block; text-align: center; margin: auto;}

}